@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

a:hover {
   color: green;
}

header {
  background-color: pink;
}

body {
  font-family: 'Muli', sans-serif;
  background-color: rgba(0, 0, 0, .05);
}

.card {
   background: rgba(129, 232, 12, .19);
   color: black;
   box-shadow: 2px 4px 25px rgba(0, 0, 0, .3);
   border-radius: 32px;
   align-items: center;
   text-align: center;
   font-family: 'Muli', sans-serif;
   justify-content: center;
   margin-right: auto;
   margin-left: auto;
   margin-top: 40px;
}

.card:hover {
  box-shadow: 2px 8px 45px rgba(0, 0, 0, .15);
  transform: translate3D(0, -2px, 0);
}
.col {
  margin-top: 30px;
  font-weight: bold;
}
h3 {
text-align: center;
}

h6 {
text-align: center;
}
